body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 10px;
}

.navbar button {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #6a4caf;
  margin: 10px;
}

.navbar button:hover {
  background-color: #6a4caf;
}

.dashboard {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard h1 {
  color: #333;
  text-align: center;
}

#userServices {
  list-style: none;
  padding: 0;
}

#userServices li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

#userServices li:last-child {
  border-bottom: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #6a4caf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Adicione estas regras CSS para centralizar os formulários */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Adicionado para centralizar o conteúdo */
}

/* Adicione estas regras CSS para centralizar o dashboard */
.dashboard {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Adicionado para centralizar o conteúdo */
}

#serviceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: auto;
  max-width: 400px; /* Defina a largura máxima desejada */
}

.service-item {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: 100%; /* 100% da largura do contêiner pai */
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item strong {
  color: #333;
}

.service-item p {
  margin: 8px 0;
  color: #666;
}

.logo {
  color: white;
  margin: 15px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  margin: 10px;
}

.titulo {
  color: black;
  margin: 10px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: none;
}
